# agentic
autogen-ext[langchain]


# llm
langchain-openai
python-dotenv
langchain-chroma
langchain-community
certifi
httpx


# read_file.py
python-docx
PyPDF2


# ML_Structured
numpy
scikit-learn
xgboost
lightgbm
catboost
umap-learn
